.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.red--box {
    width: 400px;
    height: 100px;
    background: red;
}

.green--box {
    float: left;
    width: 150px;
    height: 250px;
    background: green;
}

.blue--box {
    float: left;
    width: 250px;
    height: 250px;
    background: blue;
}

.yellow--box {
    width: 400px;
    height: 100px;
    background: yellow;
}